.order {
  display: flex;
}
.order-area {
  display: flex;
  flex-grow: 1 1;
  width: 100%;
}
.order-area div:nth-child(1) {
  width: 100%;
}
.order-area div:nth-child(1) {
  width: 40%;
  margin-right: 40px;
}
.order-column-title {
  display: flex;

  align-items: flex-start;
  justify-content: space-between;
}

.order div {
  margin: 10px;
}
